<!-- footer -->
<footer id="footer">
  <div class="contact-information p-3  text-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 text-center">
              <div class="info-wrap">
                <span class="icon"
                  ><i class="fa fa-address-book" aria-hidden="true"></i
                ></span>
                <p>
                  291 South 21th Street, <br />
                  Suite 721 New York NY 10016
                </p>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="info-wrap">
                <span class="icon"
                  ><i class="fa fa-bell" aria-hidden="true"></i
                ></span>
                <p>
                  <a href="#">info@example.com</a> <br />
                  <a href="#">www.example.com</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="info-wrap">
                <span class="icon"
                  ><i class="fa fa-phone" aria-hidden="true"></i
                ></span>
                <p>
                  <a href="#">(001) 2345 6789</a> <br />
                  <a href="#">(001) 9876 5432</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-footer">
    <div class="container">
      <div class="row py-3">
        <div class="col-lg-3">
          <h4>About Blood Bank</h4>
          <p>
            Far from the countries Vokalia and Consonantia, there live the blind
            texts. Separated they live in Bookmarksgrove right at the coast of
            the Semantics
          </p>
          <div class="social-icons my-3">
            <ul>
              <li>
                <a href="#"><i class="fab fa-fw fa-facebook-f "></i></a>
              </li>
              <li>
                <a href="#"> <i class="fab fa-fw fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <div class="col-lg-2  ">
          <h4>Information</h4>
          <div>
            <ul class="footer-links">
              <li>
                <a href="#"><i class="fas fa-circle"></i> Our Company</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> Certification</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> Our services</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> Career</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> Core Values</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> Company History</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-circle"></i> FAQ</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h4>Instagram</h4>
          <div class="instagram">
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg); background-size: cover;"
            ></a>
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg);background-size: cover;"
            ></a>
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg);background-size: cover;"
            ></a>
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg);background-size: cover;"
            ></a>
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg);background-size: cover;"
            ></a>
            <a
              href="#"
              class="insta-img"
              style="background-image: url(/assets/images/post-large-2.jpg);background-size: cover;"
            ></a>
          </div>
        </div>

        <div class="col-lg-3 phones ">
          <h4>Contact Info</h4>
          <ul>
            <p>
              291 South 21th Street, <br />
              Suite 721 New York NY 10016
            </p>
            <li>
              <a href=""
                ><i class="fa fa-phone" aria-hidden="true"></i> 01123403830</a
              >
            </li>
            <li>
              <a href="mailto:info@yoursite.com"
                ><i class="fa fa-phone" aria-hidden="true"></i> info@mail.com</a
              >
            </li>
            <li>
              <a href="http://luxehotel.com"
                ><i class="fa fa-phone" aria-hidden="true"></i> mail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="copy ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 text-center my-2">
          <small class="block">
            Copyright &copy; All rights reserved | Blood-bank
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
