<!-- title -->

<div class="card my-5 shadow">
  <div class="card-body p-0">
    <h4 class="card-title m-4 d-flex align-items-center ">
      Inputs Data
    </h4>
    <div class="title-end-shadow"></div>

    <!-- end of title -->
    <div class="card-text m-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="states">
              <label class="m-0">states</label>
              <hr />
              <div class="form-group">
                <select
                  class="form-control form-control-md"
                  name=""
                  id=""
                  size="5"
                >
                  <option>egypt</option>
                  <option>china</option>
                  <option>usa</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="Cities">
              <label class="m-0">Cities</label>
              <hr />
              <div class="form-group">
                <select
                  class="form-control form-control-md"
                  name=""
                  id=""
                  size="5"
                >
                  <option>egypt</option>
                  <option>china</option>
                  <option>usa</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="Blood Groups">
              <label class="m-0">Blood Groups</label>
              <hr />
              <div class="form-group">
                <select
                  class="form-control form-control-md"
                  name=""
                  id=""
                  size="5"
                >
                  <option>egypt</option>
                  <option>china</option>
                  <option>usa</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
