<div class="page">
  <div class="overlay"></div>
  <div class="container">
    <!-- header -->
    <div class="header">
      <div class="row">
        <div class="col-md-9 my-3">
          <h5>BLOOD BANK MANAGMENT SYSTEM</h5>
          <h4>ADMIN CONTROL PANEL</h4>
        </div>
        <div class="col-md-3 my-3  text-right">
          <button class="btn btn-light">switch To User Site</button>
        </div>
      </div>
    </div>

    <!-- login -->
    <div class="login-form row justify-content-center align-items-center ">
      <div class="col-lg-5">
        <div class="card p-5">
          <img class="card-img-top" src="holder.js/100x180/" alt="" />
          <div class="card-body">
            <form class="text-center">
              <div class="form-group my-0  ">
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id=""
                  aria-describedby="helpId"
                  placeholder="NAME"
                />
              </div>
              <div class="form-group my-0">
                <label for=""></label>
                <input
                  type="password"
                  class="form-control"
                  name=""
                  id=""
                  placeholder="PASSWOARD"
                />
              </div>

              <button class="btn btn-success mt-4">LOGIN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
