// bankdata
header {
  position: relative;
  background-image: url(/assets/images/post-large-2.jpg);
  background-size: cover;

  .row {
    height: 200px;
  }
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 60%
    );
  }
}

// end of bank data

.card {
  .title-end-shadow {
    width: 100%;
    height: 10px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0) 60%
    );
  }

  table {
    color: #576271;
    thead {
      th {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      th,
      td {
        border-top: none;
        font-weight: 400;
      }
      tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@media (max-width: 767px) {
  table,
  button {
    font-size: smaller;
  }
}
