<div class="card my-5 shadow">
  <div class="card-body p-0">
    <h4 class="card-title m-4 d-flex align-items-center ">
      Doners <small><span class="badge badge-secondary ml-2">25</span></small>
    </h4>

    <div class="title-end-shadow"></div>
    <div class="card-text m-4">
      <table class="table ">
        <thead class="thead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Mobile no.</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Noah</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class=" btn btn-sm btn-primary">Other details</button>
            </td>
          </tr>
          <tr class="selected">
            <th scope="row">Nour</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <button class=" btn btn-sm btn-primary">Other details</button>
            </td>
          </tr>
          <tr>
            <th scope="row">Ashraf</th>
            <td>Larry</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <button class=" btn btn-sm btn-primary"  data-toggle="modal" data-target="#exampleModal" >Other details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


