.card {
  .title-end-shadow {
    width: 100%;
    height: 10px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0) 60%
    );
  }

  table {
    thead {
      th {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      th,
      td {
        border-top: none;
      }
      tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
