<!-- header -->
<header>
  <div class="header-overlay"></div>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-md-6 pt-5">
      <div class="home-caption py-3 "><h1>BANK DATA</h1></div>
    </div>
  </div>
</header>

<!-- data board -->
<section class="board ">
  <div class="container-fluid">
    <div class="row">
      <!-- left fixed section of options -->
      <div class="col-lg-2 col-md-3 board-options">
        <div>
          <ul class="board-links">
            <li>
              <a
                href="#"
                [routerLink]="['/bankData/doners']"
                routerLinkActive="router-link-active"
                ><i class="fas fa-users"></i> Doners</a
              >
            </li>
            <li>
              <a
                href="#"
                [routerLink]="['/bankData/requisitions']"
                routerLinkActive="router-link-active"
                ><i class="fas fa-list-ul"></i> Requisitions</a
              >
            </li>
            <li>
              <a
                href="#"
                [routerLink]="['/bankData/bank']"
                routerLinkActive="router-link-active"
                ><i class="fas fa-clinic-medical"></i> Available Blood</a
              >
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>

      <!-- board routing here -->
      <div class="col-lg-10 col-md-9">
        <!-- component -->
        <div class="card my-5 shadow  fixed-long-height">
          <div class="card-body p-0">
            <h4 class="card-title m-4 d-flex align-items-center ">
              Requisitions
              <small><span class="badge badge-secondary ml-2">25</span></small>
            </h4>

            <div class="title-end-shadow"></div>
            <div class="card-text m-4">
              <table class="table table-responsive-xl ">
                <thead class="thead">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Mobile no.</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Noah</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                      <button class=" btn btn-sm btn-primary">
                        Other details
                      </button>
                    </td>
                  </tr>
                  <tr class="selected">
                    <th scope="row">Nour</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                      <button class=" btn btn-sm btn-primary">
                        Other details
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Ashraf</th>
                    <td>Larry</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>
                      <button
                        class=" btn btn-sm btn-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                      >
                        Other details
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--------------->
      </div>
    </div>
  </div>
</section>
