<header>
  <!-- carousel -->
  <div
    id="carouselId"
    class="carousel slide carousel-fade "
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li data-target="#carouselId" data-slide-to="0" class="active"></li>
      <li data-target="#carouselId" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-overlay"></div>
        <div class="slider-img1"></div>
        <div class="carousel-caption ">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col-md-12 col-sm-12 col-md-offset-2 slider-text">
                <div class="slider-text-inner text-left">
                  <h1>header</h1>
                  <h2>text</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-overlay"></div>
        <div class="slider-img2"></div>
        <div class="carousel-caption ">
          <h3>Title</h3>
          <p>Description</p>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselId"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"
        ><i class="fas fa-angle-left"></i
      ></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselId"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"
        ><i class="fas fa-angle-right"></i
      ></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!------ Intro ------>
<!--the 2 div buttons  -->
<section
  id="intro"
  class="intro wow bounceInUp "
  data-wow-offset="200"
  data-wow-duration="1s"
>
  <div class="container">
    <div class="intro-box bg-light rounded">
      <button
        [routerLink]="['/bankData/doners']"
        class="Quick btn btn-light float-right"
      >
        Quick find doner
      </button>

      <div class="row">
        <div class="col-md-6 ">
          <div class="intro-btn text-center">
            <i class="fas fa-heartbeat fa-6x"></i>
            <div class="py-3">Become a Donor</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="intro-btn text-center">
            <i class="fas fa-tint fa-6x"></i>
            <div class="py-3">request Blood</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- intro text -->
<section id="intro-text">
  <div class="container ">
    <div class="row d-flex justify-content-center my-5 ">
      <div class="col-md-11 mt-5 text-center ">
        <h1>Why Give Blood</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
          corporis laborum porro. Quae, iure itaque nemo unde atque laboriosam
          quam, sed optio consectetur culpa perferendis repellendus? Praesentium
          suscipit veniam adipisci!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- numbers section -->
<div id="numbers" class=" container numbers text-white  my-5  text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6  my-4">
        <div class="doners-no">
          <p><i class="far fa-heart fa-4x"></i></p>
          <span class="numbers-label">Doners</span>
          <div>20</div>
        </div>
      </div>
      <div class="col-md-6  my-4">
        <div class="requests-no">
          <p><i class="far fa-file-alt  fa-4x "></i></p>
          <span class="numbers-label">requests</span>
          <div>150</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Section -->

<section id="About" class="about py-5  my-5">
  <div class="container">
    <h1>About Us</h1>
    <div class="row justify-content-end">
      <div class="col-md-7 about-img">
        <img
          class="img-fluid shadow rounded"
          src="/assets/images/post-large-3.jpg"
        />
      </div>
    </div>

    <div class="row about-text p-3">
      <div class="col-md-7 card shadow p-5  mb-5">
        <h1>Who We are</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
          voluptates! Minus dicta a doloribus voluptatem porro saepe aperiam
          aliquid autem laborum? Vel inventore laborum explicabo minus nam, fuga
          aperiam cumque facere esse possimus officiis eveniet sequi cupiditate
          magni porro accusamus at ipsa ad doloremque! Nemo nobis rem iure est
          incidunt rerum repellat omnis esse obcaecati, molestias impedit
          consequuntur earum, facilis nesciunt! Fugit nobis sapiente cum
          corrupti excepturi iusto totam architecto.
        </p>
      </div>
    </div>
  </div>
</section>
