header {
  .carousel {
    .carousel-control-next,
    .carousel-control-prev {
      width: 25px;
      right: 1%;
      transform: scale(2);
    }
    .carousel-control-prev {
      right: auto;
      left: 1%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-image: none;
      transition: all 0.5s;
      transition-delay: 0s;
    }

    .carousel-control-next:hover .carousel-control-next-icon {
      margin-left: 8px;
      color: #ffca08;
    }

    .carousel-control-prev:hover .carousel-control-prev-icon {
      margin-right: 8px;
      color: #ffca08;
    }

    .slider-img1 {
      background-image: url(/assets/images/blood1.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
    .slider-img2 {
      background-image: url(/assets/images/blood2.jpg);
      background-size: cover;
      height: 100vh;
    }

    .carousel-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: 0.5s;
    }

    .carousel-caption {
      bottom: 50%;
      left: 0;
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(255, 255, 255, 0) 60%
      );
      z-index: 1;
    }
    .aa {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

.intro {
  #intro {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  .Quick {
    position: relative;
    margin-top: -4em;
    z-index: 20;
  }
  .intro-box {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -6.8em;
    z-index: 20;
  }
  .intro-btn {
    margin: 2em;
    padding: 2.5em;
    border-radius: 10px;

    &:hover {
      background-color: #e2e6ea;
    }
  }
}

.numbers {
  background-image: url(/assets/images/post-large-5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  margin: auto;
  border-radius: 30px;

  .overlay {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }
}

.about {
  .about-img {
    z-index: 2;
  }
  .about-text {
    position: relative;
    margin-top: -5em;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-top: 1em;
    }
  }
}
