header {
  .slider-img1 {
    background-image: url(/assets/images/post-1.jpg);
    background-size: cover;
    height: 100vh;
  }
  .slider-img2 {
    background-image: url(/assets/images/post-large-2.jpg);
    background-size: cover;
    height: 100vh;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }

  .carousel-caption {
    bottom: 40%;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    z-index: 1;
  }
}

.intro {
  .Quick {
    position: relative;
    margin-top: -4em;
    z-index: 20;
  }
  .intro-box {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -6.8em;
    z-index: 20;
  }
  .intro-btn {
    padding: 5em;
  }
}
